**.DS_Store
wiki/
**/.vagrant/
packer/openjdk-development/packer_virtualbox-iso_virtualbox.box
packer/openjdk-development/output-virtualbox-iso/
packer/openjdk-development/packer_cache/
Vagrant/openjdk-development.box
